<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styleList.css') }}">

    <title>Lista de Usuários</title>
</head>
<body>
    <h1>Lista de Usuários</h1>
    <div id="container">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">ID:</span>
            <input id="id" type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
        </div>  
        
        <div class="input-group mb-3">
            <span class="input-group-text">Nome:</span>
            <input id="nome" type="text" class="form-control" placeholder="" aria-label="Username">
            <span class="input-group-text">Sobre Nome:</span>
            <input id="sobreNome" type="text" class="form-control" placeholder="" aria-label="Server">
        </div>
        
        <div class="input-group mb-3">
            <input  id="email" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text">@examplo.com</span>
        </div>   

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Senha:</span>
            <input id="senha" type="text" class="form-control" placeholder="" aria-label="senha" aria-describedby="basic-addon1">
        </div>        
    </div>

    
    <div id="botao"><a class="btn btn-primary" href="/painel" role="button">Voltar</a>         <a onclick="listar()" class="btn btn-primary"  role="button">Pesquisar</a></div>

    <script src="{{url_for('static', filename='JScript/scriptLista.js')}}"></script>
</body>
</html>